<<<<<<< HEAD
body {

  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.person{
  width: 320px;
  height: 537;
  background-image: url(css.png);
  position: relative;
  cursor: move;

}

.person .inside {
  width: 100%;
  height: 100px;
  background-image: url(html.png);
  background-position: center;
  box-sizing: border-box;
  border: 5px solid gray;
  border-radius: 0.3em;
  position: absolute;
  top:25%;
  background-attachment: fixed;
  pointer-events: none;


}

.selector {
  position: absolute;
  width: 9em;
  top: calc(50% - 8em / 2);
  left: 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);


}

.selector input{
  width: 1.2em;
  height: 1.2em;
}

.selector label {
  font-size: 1,5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;

}

.selector input:checked {
  color: dodgerblue;

=======
td {
  border: 2px solid #333;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif, cursive;
  font-size: 70ox;
  cursor: pointer;



}

table {
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -155px;
  top: 50px;
}

table tr:first-child td {
  border-top: 0;
  border-bottom: 0;

}


table tr:last-child td {
  border-bottom: 0;

}

table tr td:first-child {
  border-left: 0;

}

table tr td:last-child {
  border-right: 0;

}

.endgame {
 display: none;
 width: 200px;
 top: 120px;
 background-color: rgba(205,133,63, 0.8);
 position: absolute;
 left: 50%;
 margin-left: -100px;
 padding-top: 50px;
 padding-bottom: 50px;
 text-align: center;
 border-radius: 5px;
 color: white;
 font-size: 2em;
  
>>>>>>> refs/remotes/origin/main-mylab
}